*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    scroll-behavior: smooth;

}

body{
    font-family: 'Open Sans', sans-serif;
}

#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding-bottom: 40px;
}
.header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(141, 119, 194, 0.473) 0%,  rgba(233, 155, 211, 0.404) 150%), url(../img/Lauracumpleañera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;

}

.main{
    background-image: linear-gradient(to top, rgba(48, 208, 208, 0.39) 0%, rgba(51, 8, 103, 0.39) 100%);
}

.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu{
    position: fixed;
    z-index: 5;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}
a{
    font-size: 20px;
}

.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;

}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 35px;

}

/*Laura Maria Pareja Borja*/
.subtitulo{
    text-align: center;
    font-weight: 300;
    color: rgb(60, 28, 134);
    margin-bottom: 40px;
    font-size: 40px;

}


.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img{
    width: 40%;
    border-radius: 5%;
}

.laura-descripcion{
    width: 40%;
}

.descripcion{
    margin-bottom: 20px;
}
.n-descripcion{
    margin-bottom: 7px;
    color: #4e1dc0;

}

.amor{
    display: inline-block;
    font-size: 40px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 30%;
}
.contenedor-gallery{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.img-gallery{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
    border-radius: 10%;
}

.imagen-light{
    position: fixed;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(110%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: scale(0);
}

.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transform: transform .3s .2s;
}

.showImage{
    transform: scale(1);

}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.n-cumple{
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*Footer*/

footer{
    background-color: #9f8ad0;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: #fff;

}
.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

/*VIDEO DE YOUTUBE*/
iframe{
    width: 80%;
    height: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 10%;
    border-radius: 10px;
}
.video{
    width: 80%;
    height: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 10%;
    border-radius: 10px;
}




@media screen and (max-width:800px){
    .menu-navegacion{
        width: 50vw;
    }
    
    .titulo{
        font-size: 40px;
    }

    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }

    .laura-descripcion{
        width: 80%;
    }
    .descripcion{
        margin-bottom: 30px;
        
    }

    .agregar-imagen{
        width: 65%;
    }

    .img-gallery{
        width: 45%;
    }

    #feliz-cumple{
        width: 80%;
    }
}

@media screen and (max-width:500px){
    .menu-navegacion{
        width: 65vw;
    }
    .menu{
        top: 20px;
        right: 20px;
    }
    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }
    .agregar-imagen{
        width: 95%;
    }
    .img-gallery{
        width: 95%;
    }
    .footer-content{
        width: 90%;
    }

    .contact-us{
        width: 90%;
    }
}

/*RELOADER*/
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.loader{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    clip-path: circle(150% at 100% 0);
    transition: clip-path 0.2s ease-in-out;
}

.loader2{
    clip-path: circle(0% at 100% 100%);

}


/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */
   /* =============================================================================
      My CSS
      ========================================================================== */
   
   /* ---- base ---- */

   canvas{
     display:block;
     vertical-align:bottom;
   }
   
   
   /* ---- stats.js ---- */
   
   .count-particles{
     background: #000022;
     position: absolute;
     top: 48px;
     left: 0;
     width: 80px;
     color: #13E8E9;
     font-size: .8em;
     text-align: left;
     text-indent: 4px;
     line-height: 14px;
     padding-bottom: 2px;
     font-family: Helvetica, Arial, sans-serif;
     font-weight: bold;
   }
   
   .js-count-particles{
     font-size: 1.1em;
   }
   
   #stats,
   .count-particles{
     -webkit-user-select: none;
     margin-top: 5px;
     margin-left: 5px;
   }
   
   #stats{
     border-radius: 3px 3px 0 0;
     overflow: hidden;
   }
   
   .count-particles{
     border-radius: 0 0 3px 3px;
   }
   
   
   /* ---- particles.js container ---- */
   
   #particles-js{
     width: 100%;
     height: 100%;
     background-color: rgba(25, 182, 182, 0.5);
     background-image: url('');
     background-size: cover;
     background-position: 50% 50%;
     background-repeat: no-repeat;
   }
   